[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainlit = "*"
langchain-openai = "*"
langchain-community = "*"
faiss-cpu = "*"
pypdf2 = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
